<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baijia.mobileapp.dal.microweb.dao.CoursesystemBaseOrderDao">

    <resultMap id="BaseResultMap" type="com.baijia.mobileapp.dal.microweb.po.CoursesystemBaseOrderPo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="app_id" jdbcType="VARCHAR" property="appId" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="union_id" jdbcType="VARCHAR" property="unionId" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="identity_type" jdbcType="INTEGER" property="identityType" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="sn" jdbcType="VARCHAR" property="sn" />
        <result column="pay_order_number" jdbcType="VARCHAR" property="payOrderNumber" />
        <result column="third_trade_no" jdbcType="VARCHAR" property="thirdTradeNo" />
        <result column="platform_trade_no" jdbcType="VARCHAR" property="platformTradeNo" />
        <result column="product_id" jdbcType="INTEGER" property="productId" />
        <result column="spec_id" jdbcType="INTEGER" property="specId" />
        <result column="ref_product_id" jdbcType="INTEGER" property="refProductId" />
        <result column="ref_spec_id" jdbcType="INTEGER" property="refSpecId" />
        <result column="shop_id" jdbcType="INTEGER" property="shopId" />
        <result column="consignee" jdbcType="VARCHAR" property="consignee" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="area" jdbcType="VARCHAR" property="area" />
        <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="product_img" jdbcType="VARCHAR" property="productImg" />
        <result column="product_market_price" jdbcType="DECIMAL" property="productMarketPrice" />
        <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
        <result column="product_type" jdbcType="INTEGER" property="productType" />
        <result column="spec_name" jdbcType="VARCHAR" property="specName" />
        <result column="spec_price" jdbcType="DECIMAL" property="specPrice" />
        <result column="quantity" jdbcType="INTEGER" property="quantity" />
        <result column="postage" jdbcType="DECIMAL" property="postage" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
        <result column="spec_select_label" jdbcType="VARCHAR" property="specSelectLabel" />
        <result column="spec_select_value" jdbcType="VARCHAR" property="specSelectValue" />
        <result column="gsx_app_id" jdbcType="VARCHAR" property="gsxAppId" />
        <result column="gsx_open_id" jdbcType="VARCHAR" property="gsxOpenId" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, app_id, open_id, union_id, nickname, identity_type, type, sn, pay_order_number, 
        third_trade_no, platform_trade_no, product_id, spec_id, ref_product_id, ref_spec_id, 
        shop_id, consignee, phone, address, area, area_code, product_name, product_img, product_market_price, 
        product_price, product_type, spec_name, spec_price, quantity, postage, amount, status, 
        pay_time, spec_select_label, spec_select_value, gsx_app_id, gsx_open_id, update_time, 
        create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from um.`rp_coursesystem_base_order`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`rp_coursesystem_base_order`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.baijia.mobileapp.dal.microweb.po.CoursesystemBaseOrderPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_coursesystem_base_order` (app_id, open_id, union_id, 
            nickname, identity_type, type, 
            sn, pay_order_number, third_trade_no, 
            platform_trade_no, product_id, spec_id, 
            ref_product_id, ref_spec_id, shop_id, 
            consignee, phone, address, 
            area, area_code, product_name, 
            product_img, product_market_price, product_price, 
            product_type, spec_name, spec_price, 
            quantity, postage, amount, 
            status, pay_time, spec_select_label, 
            spec_select_value, gsx_app_id, gsx_open_id, 
            update_time, create_time)
        values (#{appId,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{unionId,jdbcType=VARCHAR}, 
            #{nickname,jdbcType=VARCHAR}, #{identityType,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
            #{sn,jdbcType=VARCHAR}, #{payOrderNumber,jdbcType=VARCHAR}, #{thirdTradeNo,jdbcType=VARCHAR}, 
            #{platformTradeNo,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, #{specId,jdbcType=INTEGER}, 
            #{refProductId,jdbcType=INTEGER}, #{refSpecId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, 
            #{consignee,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
            #{area,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
            #{productImg,jdbcType=VARCHAR}, #{productMarketPrice,jdbcType=DECIMAL}, #{productPrice,jdbcType=DECIMAL}, 
            #{productType,jdbcType=INTEGER}, #{specName,jdbcType=VARCHAR}, #{specPrice,jdbcType=DECIMAL}, 
            #{quantity,jdbcType=INTEGER}, #{postage,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
            #{status,jdbcType=INTEGER}, #{payTime,jdbcType=TIMESTAMP}, #{specSelectLabel,jdbcType=VARCHAR}, 
            #{specSelectValue,jdbcType=VARCHAR}, #{gsxAppId,jdbcType=VARCHAR}, #{gsxOpenId,jdbcType=VARCHAR}, 
            #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.baijia.mobileapp.dal.microweb.po.CoursesystemBaseOrderPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_coursesystem_base_order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appId != null">
                app_id,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="unionId != null">
                union_id,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="identityType != null">
                identity_type,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="sn != null">
                sn,
            </if>
            <if test="payOrderNumber != null">
                pay_order_number,
            </if>
            <if test="thirdTradeNo != null">
                third_trade_no,
            </if>
            <if test="platformTradeNo != null">
                platform_trade_no,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="specId != null">
                spec_id,
            </if>
            <if test="refProductId != null">
                ref_product_id,
            </if>
            <if test="refSpecId != null">
                ref_spec_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="consignee != null">
                consignee,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="productImg != null">
                product_img,
            </if>
            <if test="productMarketPrice != null">
                product_market_price,
            </if>
            <if test="productPrice != null">
                product_price,
            </if>
            <if test="productType != null">
                product_type,
            </if>
            <if test="specName != null">
                spec_name,
            </if>
            <if test="specPrice != null">
                spec_price,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="postage != null">
                postage,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="specSelectLabel != null">
                spec_select_label,
            </if>
            <if test="specSelectValue != null">
                spec_select_value,
            </if>
            <if test="gsxAppId != null">
                gsx_app_id,
            </if>
            <if test="gsxOpenId != null">
                gsx_open_id,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="identityType != null">
                #{identityType,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="sn != null">
                #{sn,jdbcType=VARCHAR},
            </if>
            <if test="payOrderNumber != null">
                #{payOrderNumber,jdbcType=VARCHAR},
            </if>
            <if test="thirdTradeNo != null">
                #{thirdTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="platformTradeNo != null">
                #{platformTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="specId != null">
                #{specId,jdbcType=INTEGER},
            </if>
            <if test="refProductId != null">
                #{refProductId,jdbcType=INTEGER},
            </if>
            <if test="refSpecId != null">
                #{refSpecId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="consignee != null">
                #{consignee,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productImg != null">
                #{productImg,jdbcType=VARCHAR},
            </if>
            <if test="productMarketPrice != null">
                #{productMarketPrice,jdbcType=DECIMAL},
            </if>
            <if test="productPrice != null">
                #{productPrice,jdbcType=DECIMAL},
            </if>
            <if test="productType != null">
                #{productType,jdbcType=INTEGER},
            </if>
            <if test="specName != null">
                #{specName,jdbcType=VARCHAR},
            </if>
            <if test="specPrice != null">
                #{specPrice,jdbcType=DECIMAL},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="postage != null">
                #{postage,jdbcType=DECIMAL},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="specSelectLabel != null">
                #{specSelectLabel,jdbcType=VARCHAR},
            </if>
            <if test="specSelectValue != null">
                #{specSelectValue,jdbcType=VARCHAR},
            </if>
            <if test="gsxAppId != null">
                #{gsxAppId,jdbcType=VARCHAR},
            </if>
            <if test="gsxOpenId != null">
                #{gsxOpenId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baijia.mobileapp.dal.microweb.po.CoursesystemBaseOrderPo">
        update um.`rp_coursesystem_base_order`
        <set>
            <if test="appId != null">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                union_id = #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="identityType != null">
                identity_type = #{identityType,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="sn != null">
                sn = #{sn,jdbcType=VARCHAR},
            </if>
            <if test="payOrderNumber != null">
                pay_order_number = #{payOrderNumber,jdbcType=VARCHAR},
            </if>
            <if test="thirdTradeNo != null">
                third_trade_no = #{thirdTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="platformTradeNo != null">
                platform_trade_no = #{platformTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="specId != null">
                spec_id = #{specId,jdbcType=INTEGER},
            </if>
            <if test="refProductId != null">
                ref_product_id = #{refProductId,jdbcType=INTEGER},
            </if>
            <if test="refSpecId != null">
                ref_spec_id = #{refSpecId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="consignee != null">
                consignee = #{consignee,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productImg != null">
                product_img = #{productImg,jdbcType=VARCHAR},
            </if>
            <if test="productMarketPrice != null">
                product_market_price = #{productMarketPrice,jdbcType=DECIMAL},
            </if>
            <if test="productPrice != null">
                product_price = #{productPrice,jdbcType=DECIMAL},
            </if>
            <if test="productType != null">
                product_type = #{productType,jdbcType=INTEGER},
            </if>
            <if test="specName != null">
                spec_name = #{specName,jdbcType=VARCHAR},
            </if>
            <if test="specPrice != null">
                spec_price = #{specPrice,jdbcType=DECIMAL},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="postage != null">
                postage = #{postage,jdbcType=DECIMAL},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="specSelectLabel != null">
                spec_select_label = #{specSelectLabel,jdbcType=VARCHAR},
            </if>
            <if test="specSelectValue != null">
                spec_select_value = #{specSelectValue,jdbcType=VARCHAR},
            </if>
            <if test="gsxAppId != null">
                gsx_app_id = #{gsxAppId,jdbcType=VARCHAR},
            </if>
            <if test="gsxOpenId != null">
                gsx_open_id = #{gsxOpenId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baijia.mobileapp.dal.microweb.po.CoursesystemBaseOrderPo">
        update um.`rp_coursesystem_base_order`
        set app_id = #{appId,jdbcType=VARCHAR},
            open_id = #{openId,jdbcType=VARCHAR},
            union_id = #{unionId,jdbcType=VARCHAR},
            nickname = #{nickname,jdbcType=VARCHAR},
            identity_type = #{identityType,jdbcType=INTEGER},
            type = #{type,jdbcType=INTEGER},
            sn = #{sn,jdbcType=VARCHAR},
            pay_order_number = #{payOrderNumber,jdbcType=VARCHAR},
            third_trade_no = #{thirdTradeNo,jdbcType=VARCHAR},
            platform_trade_no = #{platformTradeNo,jdbcType=VARCHAR},
            product_id = #{productId,jdbcType=INTEGER},
            spec_id = #{specId,jdbcType=INTEGER},
            ref_product_id = #{refProductId,jdbcType=INTEGER},
            ref_spec_id = #{refSpecId,jdbcType=INTEGER},
            shop_id = #{shopId,jdbcType=INTEGER},
            consignee = #{consignee,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            address = #{address,jdbcType=VARCHAR},
            area = #{area,jdbcType=VARCHAR},
            area_code = #{areaCode,jdbcType=VARCHAR},
            product_name = #{productName,jdbcType=VARCHAR},
            product_img = #{productImg,jdbcType=VARCHAR},
            product_market_price = #{productMarketPrice,jdbcType=DECIMAL},
            product_price = #{productPrice,jdbcType=DECIMAL},
            product_type = #{productType,jdbcType=INTEGER},
            spec_name = #{specName,jdbcType=VARCHAR},
            spec_price = #{specPrice,jdbcType=DECIMAL},
            quantity = #{quantity,jdbcType=INTEGER},
            postage = #{postage,jdbcType=DECIMAL},
            amount = #{amount,jdbcType=DECIMAL},
            status = #{status,jdbcType=INTEGER},
            pay_time = #{payTime,jdbcType=TIMESTAMP},
            spec_select_label = #{specSelectLabel,jdbcType=VARCHAR},
            spec_select_value = #{specSelectValue,jdbcType=VARCHAR},
            gsx_app_id = #{gsxAppId,jdbcType=VARCHAR},
            gsx_open_id = #{gsxOpenId,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>