<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baijia.mobileapp.dal.microweb.dao.MicrowebTypegroupDao">

    <resultMap id="BaseResultMap" type="com.baijia.mobileapp.dal.microweb.po.MicrowebTypegroupPo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="typegroup_code" jdbcType="VARCHAR" property="typegroupCode" />
        <result column="typegroup_name" jdbcType="VARCHAR" property="typegroupName" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, typegroup_code, typegroup_name, status, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from um.`rp_microweb_typegroup`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`rp_microweb_typegroup`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.baijia.mobileapp.dal.microweb.po.MicrowebTypegroupPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_microweb_typegroup` (typegroup_code, typegroup_name, status, 
            create_time, update_time)
        values (#{typegroupCode,jdbcType=VARCHAR}, #{typegroupName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.baijia.mobileapp.dal.microweb.po.MicrowebTypegroupPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_microweb_typegroup`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typegroupCode != null">
                typegroup_code,
            </if>
            <if test="typegroupName != null">
                typegroup_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typegroupCode != null">
                #{typegroupCode,jdbcType=VARCHAR},
            </if>
            <if test="typegroupName != null">
                #{typegroupName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baijia.mobileapp.dal.microweb.po.MicrowebTypegroupPo">
        update um.`rp_microweb_typegroup`
        <set>
            <if test="typegroupCode != null">
                typegroup_code = #{typegroupCode,jdbcType=VARCHAR},
            </if>
            <if test="typegroupName != null">
                typegroup_name = #{typegroupName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baijia.mobileapp.dal.microweb.po.MicrowebTypegroupPo">
        update um.`rp_microweb_typegroup`
        set typegroup_code = #{typegroupCode,jdbcType=VARCHAR},
            typegroup_name = #{typegroupName,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>