<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baijia.mobileapp.dal.microweb.dao.MicrowebWebhouseDao">

    <resultMap id="BaseResultMap" type="com.baijia.mobileapp.dal.microweb.po.MicrowebWebhousePo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="account_id" jdbcType="INTEGER" property="accountId" />
        <result column="type_id" jdbcType="INTEGER" property="typeId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="img" jdbcType="VARCHAR" property="img" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.baijia.mobileapp.dal.microweb.po.MicrowebWebhousePo">
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
    </resultMap>

    <sql id="Base_Column_List">
        id, account_id, type_id, title, description, img, status, create_time, update_time
    </sql>

    <sql id="Blob_Column_List">
        content
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from um.`rp_microweb_webhouse`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`rp_microweb_webhouse`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.baijia.mobileapp.dal.microweb.po.MicrowebWebhousePo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_microweb_webhouse` (account_id, type_id, title, 
            description, img, status, 
            create_time, update_time, content
            )
        values (#{accountId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
            #{description,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.baijia.mobileapp.dal.microweb.po.MicrowebWebhousePo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_microweb_webhouse`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                account_id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                #{img,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baijia.mobileapp.dal.microweb.po.MicrowebWebhousePo">
        update um.`rp_microweb_webhouse`
        <set>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=INTEGER},
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.baijia.mobileapp.dal.microweb.po.MicrowebWebhousePo">
        update um.`rp_microweb_webhouse`
        set account_id = #{accountId,jdbcType=INTEGER},
            type_id = #{typeId,jdbcType=INTEGER},
            title = #{title,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            img = #{img,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            content = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baijia.mobileapp.dal.microweb.po.MicrowebWebhousePo">
        update um.`rp_microweb_webhouse`
        set account_id = #{accountId,jdbcType=INTEGER},
            type_id = #{typeId,jdbcType=INTEGER},
            title = #{title,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            img = #{img,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>