<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baijia.mobileapp.dal.assist.dao.CoursesystemAssistSpecDao">

    <resultMap id="BaseResultMap" type="com.baijia.mobileapp.dal.assist.po.CoursesystemAssistSpecPo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="app_id" jdbcType="VARCHAR" property="appId" />
        <result column="product_id" jdbcType="INTEGER" property="productId" />
        <result column="base_product_id" jdbcType="INTEGER" property="baseProductId" />
        <result column="base_spec_id" jdbcType="INTEGER" property="baseSpecId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="stock" jdbcType="INTEGER" property="stock" />
        <result column="sale_count" jdbcType="INTEGER" property="saleCount" />
        <result column="activity_price" jdbcType="DECIMAL" property="activityPrice" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, app_id, product_id, base_product_id, base_spec_id, name, stock, sale_count, activity_price, 
        status, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from um.`rp_coursesystem_assist_spec`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`rp_coursesystem_assist_spec`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.baijia.mobileapp.dal.assist.po.CoursesystemAssistSpecPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_coursesystem_assist_spec` (app_id, product_id, base_product_id, 
            base_spec_id, name, stock, 
            sale_count, activity_price, status, 
            create_time, update_time)
        values (#{appId,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, #{baseProductId,jdbcType=INTEGER}, 
            #{baseSpecId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, 
            #{saleCount,jdbcType=INTEGER}, #{activityPrice,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.baijia.mobileapp.dal.assist.po.CoursesystemAssistSpecPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_coursesystem_assist_spec`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appId != null">
                app_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="baseProductId != null">
                base_product_id,
            </if>
            <if test="baseSpecId != null">
                base_spec_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="saleCount != null">
                sale_count,
            </if>
            <if test="activityPrice != null">
                activity_price,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="baseProductId != null">
                #{baseProductId,jdbcType=INTEGER},
            </if>
            <if test="baseSpecId != null">
                #{baseSpecId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="saleCount != null">
                #{saleCount,jdbcType=INTEGER},
            </if>
            <if test="activityPrice != null">
                #{activityPrice,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baijia.mobileapp.dal.assist.po.CoursesystemAssistSpecPo">
        update um.`rp_coursesystem_assist_spec`
        <set>
            <if test="appId != null">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="baseProductId != null">
                base_product_id = #{baseProductId,jdbcType=INTEGER},
            </if>
            <if test="baseSpecId != null">
                base_spec_id = #{baseSpecId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="saleCount != null">
                sale_count = #{saleCount,jdbcType=INTEGER},
            </if>
            <if test="activityPrice != null">
                activity_price = #{activityPrice,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baijia.mobileapp.dal.assist.po.CoursesystemAssistSpecPo">
        update um.`rp_coursesystem_assist_spec`
        set app_id = #{appId,jdbcType=VARCHAR},
            product_id = #{productId,jdbcType=INTEGER},
            base_product_id = #{baseProductId,jdbcType=INTEGER},
            base_spec_id = #{baseSpecId,jdbcType=INTEGER},
            name = #{name,jdbcType=VARCHAR},
            stock = #{stock,jdbcType=INTEGER},
            sale_count = #{saleCount,jdbcType=INTEGER},
            activity_price = #{activityPrice,jdbcType=DECIMAL},
            status = #{status,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>