<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baijia.mobileapp.dal.assist.dao.MobileappAssistMemberDao">

    <resultMap id="BaseResultMap" type="com.baijia.mobileapp.dal.assist.po.MobileappAssistMemberPo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="app_id" jdbcType="VARCHAR" property="appId" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="union_id" jdbcType="VARCHAR" property="unionId" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
        <result column="identity_status" jdbcType="INTEGER" property="identityStatus" />
        <result column="is_subscribe" jdbcType="INTEGER" property="isSubscribe" />
        <result column="gsx_app_id" jdbcType="VARCHAR" property="gsxAppId" />
        <result column="gsx_open_id" jdbcType="VARCHAR" property="gsxOpenId" />
        <result column="platform_code" jdbcType="VARCHAR" property="platformCode" />
        <result column="platform_secret" jdbcType="VARCHAR" property="platformSecret" />
        <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
        <result column="platform_mobile" jdbcType="VARCHAR" property="platformMobile" />
        <result column="platform_remark" jdbcType="VARCHAR" property="platformRemark" />
        <result column="platform_status" jdbcType="INTEGER" property="platformStatus" />
        <result column="platform_create_time" jdbcType="TIMESTAMP" property="platformCreateTime" />
        <result column="platform_update_time" jdbcType="TIMESTAMP" property="platformUpdateTime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, app_id, open_id, union_id, nickname, headimgurl, identity_status, is_subscribe, 
        gsx_app_id, gsx_open_id, platform_code, platform_secret, platform_name, platform_mobile, 
        platform_remark, platform_status, platform_create_time, platform_update_time, status, 
        create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from um.`rp_mobileapp_assist_member`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`rp_mobileapp_assist_member`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.baijia.mobileapp.dal.assist.po.MobileappAssistMemberPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_mobileapp_assist_member` (app_id, open_id, union_id, 
            nickname, headimgurl, identity_status, 
            is_subscribe, gsx_app_id, gsx_open_id, 
            platform_code, platform_secret, platform_name, 
            platform_mobile, platform_remark, platform_status, 
            platform_create_time, platform_update_time, 
            status, create_time, update_time
            )
        values (#{appId,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{unionId,jdbcType=VARCHAR}, 
            #{nickname,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, #{identityStatus,jdbcType=INTEGER}, 
            #{isSubscribe,jdbcType=INTEGER}, #{gsxAppId,jdbcType=VARCHAR}, #{gsxOpenId,jdbcType=VARCHAR}, 
            #{platformCode,jdbcType=VARCHAR}, #{platformSecret,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR}, 
            #{platformMobile,jdbcType=VARCHAR}, #{platformRemark,jdbcType=VARCHAR}, #{platformStatus,jdbcType=INTEGER}, 
            #{platformCreateTime,jdbcType=TIMESTAMP}, #{platformUpdateTime,jdbcType=TIMESTAMP}, 
            #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.baijia.mobileapp.dal.assist.po.MobileappAssistMemberPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_mobileapp_assist_member`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appId != null">
                app_id,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="unionId != null">
                union_id,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="headimgurl != null">
                headimgurl,
            </if>
            <if test="identityStatus != null">
                identity_status,
            </if>
            <if test="isSubscribe != null">
                is_subscribe,
            </if>
            <if test="gsxAppId != null">
                gsx_app_id,
            </if>
            <if test="gsxOpenId != null">
                gsx_open_id,
            </if>
            <if test="platformCode != null">
                platform_code,
            </if>
            <if test="platformSecret != null">
                platform_secret,
            </if>
            <if test="platformName != null">
                platform_name,
            </if>
            <if test="platformMobile != null">
                platform_mobile,
            </if>
            <if test="platformRemark != null">
                platform_remark,
            </if>
            <if test="platformStatus != null">
                platform_status,
            </if>
            <if test="platformCreateTime != null">
                platform_create_time,
            </if>
            <if test="platformUpdateTime != null">
                platform_update_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="identityStatus != null">
                #{identityStatus,jdbcType=INTEGER},
            </if>
            <if test="isSubscribe != null">
                #{isSubscribe,jdbcType=INTEGER},
            </if>
            <if test="gsxAppId != null">
                #{gsxAppId,jdbcType=VARCHAR},
            </if>
            <if test="gsxOpenId != null">
                #{gsxOpenId,jdbcType=VARCHAR},
            </if>
            <if test="platformCode != null">
                #{platformCode,jdbcType=VARCHAR},
            </if>
            <if test="platformSecret != null">
                #{platformSecret,jdbcType=VARCHAR},
            </if>
            <if test="platformName != null">
                #{platformName,jdbcType=VARCHAR},
            </if>
            <if test="platformMobile != null">
                #{platformMobile,jdbcType=VARCHAR},
            </if>
            <if test="platformRemark != null">
                #{platformRemark,jdbcType=VARCHAR},
            </if>
            <if test="platformStatus != null">
                #{platformStatus,jdbcType=INTEGER},
            </if>
            <if test="platformCreateTime != null">
                #{platformCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="platformUpdateTime != null">
                #{platformUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baijia.mobileapp.dal.assist.po.MobileappAssistMemberPo">
        update um.`rp_mobileapp_assist_member`
        <set>
            <if test="appId != null">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                union_id = #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                headimgurl = #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="identityStatus != null">
                identity_status = #{identityStatus,jdbcType=INTEGER},
            </if>
            <if test="isSubscribe != null">
                is_subscribe = #{isSubscribe,jdbcType=INTEGER},
            </if>
            <if test="gsxAppId != null">
                gsx_app_id = #{gsxAppId,jdbcType=VARCHAR},
            </if>
            <if test="gsxOpenId != null">
                gsx_open_id = #{gsxOpenId,jdbcType=VARCHAR},
            </if>
            <if test="platformCode != null">
                platform_code = #{platformCode,jdbcType=VARCHAR},
            </if>
            <if test="platformSecret != null">
                platform_secret = #{platformSecret,jdbcType=VARCHAR},
            </if>
            <if test="platformName != null">
                platform_name = #{platformName,jdbcType=VARCHAR},
            </if>
            <if test="platformMobile != null">
                platform_mobile = #{platformMobile,jdbcType=VARCHAR},
            </if>
            <if test="platformRemark != null">
                platform_remark = #{platformRemark,jdbcType=VARCHAR},
            </if>
            <if test="platformStatus != null">
                platform_status = #{platformStatus,jdbcType=INTEGER},
            </if>
            <if test="platformCreateTime != null">
                platform_create_time = #{platformCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="platformUpdateTime != null">
                platform_update_time = #{platformUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baijia.mobileapp.dal.assist.po.MobileappAssistMemberPo">
        update um.`rp_mobileapp_assist_member`
        set app_id = #{appId,jdbcType=VARCHAR},
            open_id = #{openId,jdbcType=VARCHAR},
            union_id = #{unionId,jdbcType=VARCHAR},
            nickname = #{nickname,jdbcType=VARCHAR},
            headimgurl = #{headimgurl,jdbcType=VARCHAR},
            identity_status = #{identityStatus,jdbcType=INTEGER},
            is_subscribe = #{isSubscribe,jdbcType=INTEGER},
            gsx_app_id = #{gsxAppId,jdbcType=VARCHAR},
            gsx_open_id = #{gsxOpenId,jdbcType=VARCHAR},
            platform_code = #{platformCode,jdbcType=VARCHAR},
            platform_secret = #{platformSecret,jdbcType=VARCHAR},
            platform_name = #{platformName,jdbcType=VARCHAR},
            platform_mobile = #{platformMobile,jdbcType=VARCHAR},
            platform_remark = #{platformRemark,jdbcType=VARCHAR},
            platform_status = #{platformStatus,jdbcType=INTEGER},
            platform_create_time = #{platformCreateTime,jdbcType=TIMESTAMP},
            platform_update_time = #{platformUpdateTime,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>