<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baijia.growthbase.dal.microweb.dao.MicrowebModuleMapper">

    <resultMap id="BaseResultMap" type="com.baijia.growthbase.dal.microweb.po.MicrowebModulePO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="type_id" jdbcType="INTEGER" property="typeId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="img" jdbcType="VARCHAR" property="img" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, type_id, title, img, status, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from um.`rp_microweb_module`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`rp_microweb_module`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyProperty="id" parameterType="com.baijia.growthbase.dal.microweb.po.MicrowebModulePO" useGeneratedKeys="true">
        insert into um.`rp_microweb_module` (type_id, title, img, 
            status, create_time, update_time
            )
        values (#{typeId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
            #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
            )
    </insert>

    <insert id="insertSelective" keyProperty="id" parameterType="com.baijia.growthbase.dal.microweb.po.MicrowebModulePO" useGeneratedKeys="true">
        insert into um.`rp_microweb_module`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">
                type_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                #{img,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baijia.growthbase.dal.microweb.po.MicrowebModulePO">
        update um.`rp_microweb_module`
        <set>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baijia.growthbase.dal.microweb.po.MicrowebModulePO">
        update um.`rp_microweb_module`
        set type_id = #{typeId,jdbcType=INTEGER},
            title = #{title,jdbcType=VARCHAR},
            img = #{img,jdbcType=VARCHAR},
            status = #{statusjdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>