<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baijia.growthbase.dal.microweb.dao.MicrowebTestMapper">

    <resultMap id="BaseResultMap" type="com.baijia.growthbase.dal.microweb.po.MicrowebTestPO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="account_id" jdbcType="INTEGER" property="accountId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.baijia.growthbase.dal.microweb.po.MicrowebTestWithBLOBsPO">
        <result column="description" jdbcType="LONGVARCHAR" property="description" />
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
    </resultMap>

    <sql id="Base_Column_List">
        id, account_id, title, status, url, create_time, update_time
    </sql>

    <sql id="Blob_Column_List">
        description, content
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from um.`rp_microweb_test`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`rp_microweb_test`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyProperty="id" parameterType="com.baijia.growthbase.dal.microweb.po.MicrowebTestWithBLOBsPO" useGeneratedKeys="true">
        insert into um.`rp_microweb_test` (account_id, title, status, 
            url, create_time, update_time, 
            description, content)
        values (#{accountId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
            #{url,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
            #{description,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" keyProperty="id" parameterType="com.baijia.growthbase.dal.microweb.po.MicrowebTestWithBLOBsPO" useGeneratedKeys="true">
        insert into um.`rp_microweb_test`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                account_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baijia.growthbase.dal.microweb.po.MicrowebTestWithBLOBsPO">
        update um.`rp_microweb_test`
        <set>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.baijia.growthbase.dal.microweb.po.MicrowebTestWithBLOBsPO">
        update um.`rp_microweb_test`
        set account_id = #{accountId,jdbcType=INTEGER},
            title = #{title,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            url = #{url,jdbcType=VARCHAR},
            description = #{description,jdbcType=LONGVARCHAR},
            content = #{contentjdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baijia.growthbase.dal.microweb.po.MicrowebTestPO">
        update um.`rp_microweb_test`
        set account_id = #{accountId,jdbcType=INTEGER},
            title = #{title,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            url = #{urljdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>