<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voofchat.freedom.biz.shop.dao.MiniappWxshopTopicDao">

    <resultMap id="BaseResultMap" type="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopTopicPo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="topic_category_id" jdbcType="INTEGER" property="topicCategoryId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="pic" jdbcType="VARCHAR" property="pic" />
        <result column="brief" jdbcType="VARCHAR" property="brief" />
        <result column="is_show" jdbcType="BIT" property="isShow" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopTopicPo">
        <result column="desc" jdbcType="LONGVARCHAR" property="desc" />
    </resultMap>

    <sql id="Base_Column_List">
        id, topic_category_id, title, pic, brief, is_show, status, create_time, update_time
    </sql>

    <sql id="Blob_Column_List">
        desc
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from um.`miniapp_wxshop_topic`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`miniapp_wxshop_topic`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopTopicPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`miniapp_wxshop_topic` (topic_category_id, title, pic, 
            brief, is_show, status, 
            create_time, update_time, desc
            )
        values (#{topicCategoryId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
            #{brief,jdbcType=VARCHAR}, #{isShow,jdbcType=BIT}, #{status,jdbcType=TINYINT}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{desc,jdbcType=LONGVARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopTopicPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`miniapp_wxshop_topic`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="topicCategoryId != null">
                topic_category_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="brief != null">
                brief,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="desc != null">
                desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="topicCategoryId != null">
                #{topicCategoryId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="brief != null">
                #{brief,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                #{isShow,jdbcType=BIT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopTopicPo">
        update um.`miniapp_wxshop_topic`
        <set>
            <if test="topicCategoryId != null">
                topic_category_id = #{topicCategoryId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="brief != null">
                brief = #{brief,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                is_show = #{isShow,jdbcType=BIT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="desc != null">
                desc = #{desc,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopTopicPo">
        update um.`miniapp_wxshop_topic`
        set topic_category_id = #{topicCategoryId,jdbcType=INTEGER},
            title = #{title,jdbcType=VARCHAR},
            pic = #{pic,jdbcType=VARCHAR},
            brief = #{brief,jdbcType=VARCHAR},
            is_show = #{isShow,jdbcType=BIT},
            status = #{status,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            desc = #{desc,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopTopicPo">
        update um.`miniapp_wxshop_topic`
        set topic_category_id = #{topicCategoryId,jdbcType=INTEGER},
            title = #{title,jdbcType=VARCHAR},
            pic = #{pic,jdbcType=VARCHAR},
            brief = #{brief,jdbcType=VARCHAR},
            is_show = #{isShow,jdbcType=BIT},
            status = #{status,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>