<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voofchat.freedom.biz.shop.dao.MiniappWxshopCategoryDao">

    <resultMap id="BaseResultMap" type="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopCategoryPo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="keywords" jdbcType="VARCHAR" property="keywords" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="sort_order" jdbcType="TINYINT" property="sortOrder" />
        <result column="is_show" jdbcType="BIT" property="isShow" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="pic" jdbcType="VARCHAR" property="pic" />
        <result column="type" jdbcType="TINYINT" property="type" />
        <result column="level" jdbcType="INTEGER" property="level" />
    </resultMap>

    <sql id="Base_Column_List">
        id, title, keywords, parent_id, sort_order, is_show, icon, pic, type, level
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from um.`miniapp_wxshop_category`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`miniapp_wxshop_category`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopCategoryPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`miniapp_wxshop_category` (title, keywords, parent_id, 
            sort_order, is_show, icon, 
            pic, type, level)
        values (#{title,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
            #{sortOrder,jdbcType=TINYINT}, #{isShow,jdbcType=BIT}, #{icon,jdbcType=VARCHAR}, 
            #{pic,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{level,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopCategoryPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`miniapp_wxshop_category`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="level != null">
                level,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="sortOrder != null">
                #{sortOrder,jdbcType=TINYINT},
            </if>
            <if test="isShow != null">
                #{isShow,jdbcType=BIT},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopCategoryPo">
        update um.`miniapp_wxshop_category`
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder,jdbcType=TINYINT},
            </if>
            <if test="isShow != null">
                is_show = #{isShow,jdbcType=BIT},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopCategoryPo">
        update um.`miniapp_wxshop_category`
        set title = #{title,jdbcType=VARCHAR},
            keywords = #{keywords,jdbcType=VARCHAR},
            parent_id = #{parentId,jdbcType=INTEGER},
            sort_order = #{sortOrder,jdbcType=TINYINT},
            is_show = #{isShow,jdbcType=BIT},
            icon = #{icon,jdbcType=VARCHAR},
            pic = #{pic,jdbcType=VARCHAR},
            type = #{type,jdbcType=TINYINT},
            level = #{level,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>