<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voofchat.freedom.biz.shop.dao.MiniappWxshopCartitemDao">

    <resultMap id="BaseResultMap" type="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopCartitemPo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="cart_id" jdbcType="INTEGER" property="cartId" />
        <result column="product_id" jdbcType="INTEGER" property="productId" />
        <result column="first_specification_id" jdbcType="INTEGER" property="firstSpecificationId" />
        <result column="second_specification_id" jdbcType="INTEGER" property="secondSpecificationId" />
        <result column="quantity" jdbcType="INTEGER" property="quantity" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, cart_id, product_id, first_specification_id, second_specification_id, quantity, 
        status, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from um.`miniapp_wxshop_cartitem`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`miniapp_wxshop_cartitem`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopCartitemPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`miniapp_wxshop_cartitem` (cart_id, product_id, first_specification_id, 
            second_specification_id, quantity, status, 
            create_time, update_time)
        values (#{cartId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{firstSpecificationId,jdbcType=INTEGER}, 
            #{secondSpecificationId,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopCartitemPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`miniapp_wxshop_cartitem`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cartId != null">
                cart_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="firstSpecificationId != null">
                first_specification_id,
            </if>
            <if test="secondSpecificationId != null">
                second_specification_id,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cartId != null">
                #{cartId,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="firstSpecificationId != null">
                #{firstSpecificationId,jdbcType=INTEGER},
            </if>
            <if test="secondSpecificationId != null">
                #{secondSpecificationId,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopCartitemPo">
        update um.`miniapp_wxshop_cartitem`
        <set>
            <if test="cartId != null">
                cart_id = #{cartId,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="firstSpecificationId != null">
                first_specification_id = #{firstSpecificationId,jdbcType=INTEGER},
            </if>
            <if test="secondSpecificationId != null">
                second_specification_id = #{secondSpecificationId,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.voofchat.freedom.biz.shop.entity.po.MiniappWxshopCartitemPo">
        update um.`miniapp_wxshop_cartitem`
        set cart_id = #{cartId,jdbcType=INTEGER},
            product_id = #{productId,jdbcType=INTEGER},
            first_specification_id = #{firstSpecificationId,jdbcType=INTEGER},
            second_specification_id = #{secondSpecificationId,jdbcType=INTEGER},
            quantity = #{quantity,jdbcType=INTEGER},
            status = #{status,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>