<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baijia.mobileapp.dal.contenthouse.dao.ContenthouseContentColumnRelationshipDao">

    <resultMap id="BaseResultMap" type="com.baijia.mobileapp.dal.contenthouse.po.ContenthouseContentColumnRelationshipPo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="colum_id" jdbcType="INTEGER" property="columId" />
        <result column="content_id" jdbcType="INTEGER" property="contentId" />
        <result column="index" jdbcType="INTEGER" property="index" />
        <result column="is_free" jdbcType="BIT" property="isFree" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, colum_id, content_id, index, is_free, status, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from um.`rp_contenthouse_content_column_relationship`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from um.`rp_contenthouse_content_column_relationship`
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.baijia.mobileapp.dal.contenthouse.po.ContenthouseContentColumnRelationshipPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_contenthouse_content_column_relationship` (colum_id, content_id, index, 
            is_free, status, create_time, 
            update_time)
        values (#{columId,jdbcType=INTEGER}, #{contentId,jdbcType=INTEGER}, #{index,jdbcType=INTEGER}, 
            #{isFree,jdbcType=BIT}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
            #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.baijia.mobileapp.dal.contenthouse.po.ContenthouseContentColumnRelationshipPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_contenthouse_content_column_relationship`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="columId != null">
                colum_id,
            </if>
            <if test="contentId != null">
                content_id,
            </if>
            <if test="index != null">
                index,
            </if>
            <if test="isFree != null">
                is_free,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="columId != null">
                #{columId,jdbcType=INTEGER},
            </if>
            <if test="contentId != null">
                #{contentId,jdbcType=INTEGER},
            </if>
            <if test="index != null">
                #{index,jdbcType=INTEGER},
            </if>
            <if test="isFree != null">
                #{isFree,jdbcType=BIT},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baijia.mobileapp.dal.contenthouse.po.ContenthouseContentColumnRelationshipPo">
        update um.`rp_contenthouse_content_column_relationship`
        <set>
            <if test="columId != null">
                colum_id = #{columId,jdbcType=INTEGER},
            </if>
            <if test="contentId != null">
                content_id = #{contentId,jdbcType=INTEGER},
            </if>
            <if test="index != null">
                index = #{index,jdbcType=INTEGER},
            </if>
            <if test="isFree != null">
                is_free = #{isFree,jdbcType=BIT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baijia.mobileapp.dal.contenthouse.po.ContenthouseContentColumnRelationshipPo">
        update um.`rp_contenthouse_content_column_relationship`
        set colum_id = #{columId,jdbcType=INTEGER},
            content_id = #{contentId,jdbcType=INTEGER},
            index = #{index,jdbcType=INTEGER},
            is_free = #{isFree,jdbcType=BIT},
            status = #{status,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>