<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baijia.growthbase.dal.contenthouse.dao.CourseLiveTaskDao">

    <resultMap id="BaseResultMap" type="com.baijia.growthbase.dal.contenthouse.po.CourseLiveTaskPo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="account_id" jdbcType="INTEGER" property="accountId" />
        <result column="topic" jdbcType="VARCHAR" property="topic" />
        <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
        <result column="live_room_num" jdbcType="BIGINT" property="liveRoomNum" />
        <result column="source" jdbcType="INTEGER" property="source" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="timer_img" jdbcType="VARCHAR" property="timerImg" />
        <result column="export_flag" jdbcType="INTEGER" property="exportFlag" />
        <result column="export_link" jdbcType="VARCHAR" property="exportLink" />
        <result column="task_type" jdbcType="INTEGER" property="taskType" />
        <result column="create_user_union_id" jdbcType="VARCHAR" property="createUserUnionId" />
        <result column="create_user_username" jdbcType="VARCHAR" property="createUserUsername" />
        <result column="create_user_nickname" jdbcType="VARCHAR" property="createUserNickname" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="tid" jdbcType="BIGINT" property="tid" />
    </resultMap>

    <sql id="Base_Column_List">
        id, account_id, topic, begin_time, live_room_num, source, status, timer_img, export_flag, 
        export_link, task_type, create_user_union_id, create_user_username, create_user_nickname, 
        create_time, update_time, tid
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from um.`rp_course_live_task`
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from um.`rp_course_live_task`
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.baijia.growthbase.dal.contenthouse.po.CourseLiveTaskPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_course_live_task` (account_id, topic, begin_time, 
            live_room_num, source, status, 
            timer_img, export_flag, export_link, 
            task_type, create_user_union_id, create_user_username, 
            create_user_nickname, create_time, update_time, 
            tid)
        values (#{accountId,jdbcType=INTEGER}, #{topic,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, 
            #{liveRoomNum,jdbcType=BIGINT}, #{source,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
            #{timerImg,jdbcType=VARCHAR}, #{exportFlag,jdbcType=INTEGER}, #{exportLink,jdbcType=VARCHAR}, 
            #{taskType,jdbcType=INTEGER}, #{createUserUnionId,jdbcType=VARCHAR}, #{createUserUsername,jdbcType=VARCHAR}, 
            #{createUserNickname,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
            #{tid,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.baijia.growthbase.dal.contenthouse.po.CourseLiveTaskPo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into um.`rp_course_live_task`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                account_id,
            </if>
            <if test="topic != null">
                topic,
            </if>
            <if test="beginTime != null">
                begin_time,
            </if>
            <if test="liveRoomNum != null">
                live_room_num,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="timerImg != null">
                timer_img,
            </if>
            <if test="exportFlag != null">
                export_flag,
            </if>
            <if test="exportLink != null">
                export_link,
            </if>
            <if test="taskType != null">
                task_type,
            </if>
            <if test="createUserUnionId != null">
                create_user_union_id,
            </if>
            <if test="createUserUsername != null">
                create_user_username,
            </if>
            <if test="createUserNickname != null">
                create_user_nickname,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="tid != null">
                tid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="topic != null">
                #{topic,jdbcType=VARCHAR},
            </if>
            <if test="beginTime != null">
                #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="liveRoomNum != null">
                #{liveRoomNum,jdbcType=BIGINT},
            </if>
            <if test="source != null">
                #{source,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="timerImg != null">
                #{timerImg,jdbcType=VARCHAR},
            </if>
            <if test="exportFlag != null">
                #{exportFlag,jdbcType=INTEGER},
            </if>
            <if test="exportLink != null">
                #{exportLink,jdbcType=VARCHAR},
            </if>
            <if test="taskType != null">
                #{taskType,jdbcType=INTEGER},
            </if>
            <if test="createUserUnionId != null">
                #{createUserUnionId,jdbcType=VARCHAR},
            </if>
            <if test="createUserUsername != null">
                #{createUserUsername,jdbcType=VARCHAR},
            </if>
            <if test="createUserNickname != null">
                #{createUserNickname,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tid != null">
                #{tid,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baijia.growthbase.dal.contenthouse.po.CourseLiveTaskPo">
        update um.`rp_course_live_task`
        <set>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=INTEGER},
            </if>
            <if test="topic != null">
                topic = #{topic,jdbcType=VARCHAR},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="liveRoomNum != null">
                live_room_num = #{liveRoomNum,jdbcType=BIGINT},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="timerImg != null">
                timer_img = #{timerImg,jdbcType=VARCHAR},
            </if>
            <if test="exportFlag != null">
                export_flag = #{exportFlag,jdbcType=INTEGER},
            </if>
            <if test="exportLink != null">
                export_link = #{exportLink,jdbcType=VARCHAR},
            </if>
            <if test="taskType != null">
                task_type = #{taskType,jdbcType=INTEGER},
            </if>
            <if test="createUserUnionId != null">
                create_user_union_id = #{createUserUnionId,jdbcType=VARCHAR},
            </if>
            <if test="createUserUsername != null">
                create_user_username = #{createUserUsername,jdbcType=VARCHAR},
            </if>
            <if test="createUserNickname != null">
                create_user_nickname = #{createUserNickname,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tid != null">
                tid = #{tid,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baijia.growthbase.dal.contenthouse.po.CourseLiveTaskPo">
        update um.`rp_course_live_task`
        set account_id = #{accountId,jdbcType=INTEGER},
            topic = #{topic,jdbcType=VARCHAR},
            begin_time = #{beginTime,jdbcType=TIMESTAMP},
            live_room_num = #{liveRoomNum,jdbcType=BIGINT},
            source = #{source,jdbcType=INTEGER},
            status = #{status,jdbcType=INTEGER},
            timer_img = #{timerImg,jdbcType=VARCHAR},
            export_flag = #{exportFlag,jdbcType=INTEGER},
            export_link = #{exportLink,jdbcType=VARCHAR},
            task_type = #{taskType,jdbcType=INTEGER},
            create_user_union_id = #{createUserUnionId,jdbcType=VARCHAR},
            create_user_username = #{createUserUsername,jdbcType=VARCHAR},
            create_user_nickname = #{createUserNickname,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            tid = #{tid,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>